In [1]:
my_list = [1,2,3,4,32,32,4,43,2,2,2,4,7,7]

In [2]:
len(my_list)

14

In [3]:
my_list

[1, 2, 3, 4, 32, 32, 4, 43, 2, 2, 2, 4, 7, 7]

In [5]:
set(my_list) #tekrarlı olan sayıları ( aynı sayıdan birden fazla varsa) bunların sadece bir tanesini gösterir

{1, 2, 3, 4, 7, 32, 43}

In [8]:
mySet = set(my_list)  #set komutlu değişkenimizin sonucunu mySet olarak isimlendirdik

In [9]:
mySet

{1, 2, 3, 4, 7, 32, 43}

In [10]:
mySet.add(1)   # 1 i eklemeye çalıştık ancak eklemedi çünkü 1 zaten mevcuttu

In [11]:
mySet

{1, 2, 3, 4, 7, 32, 43}

In [12]:
mySet.add(12)   #Listemizde mevcut olmayan bir sayı olan 12 sayısını ekleme komutu verdik sağlıklı bir şekilde eklendi

In [14]:
mySet   #kodumuzu çağırıp eklenmiş halini görebiliriz

{1, 2, 3, 4, 7, 12, 32, 43}

In [18]:
mySet2 = (10,20,20,23,3,10,1,88,12,32)

In [19]:
mySet2

(10, 20, 20, 23, 3, 10, 1, 88, 12, 32)

In [21]:
mySet.union(mySet2)   #tekrarlı olanları da tek sefer yazdırdı birbirine ekleme komutudur

{1, 2, 3, 4, 7, 10, 12, 20, 23, 32, 43, 88}

In [22]:
mySet.intersection(mySet2)   #ikisinin  birbiri ile kesişimini gösterir

{1, 3, 12, 32}

In [23]:
countryList = ["tr","tr","fr","de","de","nl","nl"]

In [27]:
len(countryList)  #listenin uzunluğunu istedik

7

In [29]:
len(set(countryList)) #listenin uzunluğunu tekrarlı elemanlaerı tek sefer sayarak verdi (tr,de,nl den 2 şer tane vardı bunları tek saydı )

4