In [4]:
myBoolean = False

In [5]:
myBoolean

False

In [16]:
2<5

True

In [17]:
myBoolean1= True

In [18]:
True

True

In [19]:
myBoolean1

True

In [20]:
age = input("enter age:")

In [24]:
age

'15'

In [25]:
age > 35 #böyle yaptığımızda hata veriyor çünkü age yapısı str 35 ise int o yüzden age i int tipine çeviriyoruz

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
int(age) > 35

False